## ***Read Inventory***

In [1]:
import json
import time

In [10]:
fd = open("record.json",'r')
txt = fd.read()
fd.close() 
record = json.loads(txt)
print("code_id    Name                Qty.   Price    Discount")
for i in record : 
   print(i , "     ",record[i]['name'],"    ",record[i]['qn'],"   ",record[i]['pr'],"      ",record[i]['dis_count'])

code_id    Name                Qty.   Price    Discount
1001       Choco Cake          34     100        10
1002       Milk Cake           100     800        15
1003       Drink               70     85        5
1004       Candy               1000     5        8
1005       Pen                 100     20        34
1006       Phone               10     50000        13
1007       Mic                 0     1500        10
1008       Case                5     599        15
1009       Keyboard            10     1999        14
1010       Sugar               200     40        12
1011       Dal Sev             50     199        11
1012       Notebook            44     40        12
1013       Masur Dal           50     66        10
1014       Gud                 45     46        4
1015       Kaju                12     450        8
1016       Badam               15     225        6
1017       MeggiNodle          110     10        3
1018       Arhar Dal           100     78        11
1019       PeanutButter        20     275        10
1020       LittleHeartBis      30     20        2
1021       Oyes                40     10        1
1022       Kitkat choc.        60     20        20
1023       Earphone            5     1290        10
1024       Mouse               9     675        12
1025       C-type cable        15     299        3
1026       USB cable           10     199        5
1027       Cricket Bat         15     2555        8
1028       Tennis ball         50     50        10
1029       Cell                45     10        15
1030       3pin charger        9     99        2
1031       Monitor             4     8999        9

## ***Enter Prod_id and Quantity from above list***

In [11]:
print("--------------------------------------Welcome to Shivam Store---------------------------------------------------")
un_name = str(input("Enter your name: "))
Un_phno = int(input("Enter your phone number: "))
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))
a=0
a = record[ui_prod]['pr']
if ui_quant > record[ui_prod]['qn']:
  while ui_quant > record[ui_prod]['qn']:
    print("Number of quantity avaiable are:",record[ui_prod]['qn'])
    print("Press 1 for Eithier purchase:",record[ui_prod]['qn'],' quantity of less than that or press 2 to exit')
    i = int(input())
    if i == 1:
      ui_quant = int(input("Enter the quantity: "))
      print("Product: ", record[ui_prod]['name'])
      print("Price: ", record[ui_prod]['pr'])
      a = a - (a*(record[ui_prod]['dis_count']/100))
      print("Price after discount: ", a )
      a = a * ui_quant
      print("Billing Amount: ", a)
      record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant  
    else:
      print("---------------------Thank you for visting-------------------------")
      break
else:
  print("Product: ", record[ui_prod]['name'])
  print("Price: ", record[ui_prod]['pr'])
  a = a - (a*(record[ui_prod]['dis_count']/100))
  print("Price after discount: ", a )
  a = a * ui_quant
  print("Billing Amount: ", a )
  record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant 
  print("---------------------Thank you for visting-------------------------")

--------------------------------------Welcome to Shivam Store---------------------------------------------------
Enter your name: vinay
Enter your phone number: 9818251234
Enter the product_Id: 1031
Enter the quantity: 1
Product:  Monitor
Price:  8999
Price after discount:  8189.09
Billing Amount:  8189.09
---------------------Thank you for visting-------------------------

## ***Update Inventory after purchase***

In [12]:
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

## ***Sales JSON***

In [17]:
fd = open("sales.json",'r')
s = fd.read()
fd.close()

sales = json.loads(s)

In [18]:
len(sales)

2

In [15]:
sales[len(sales)+1] = {'Time': time.ctime(),'User_name': un_name , 'Phoneno': Un_phno , 'prod' : ui_prod, 'qn' : ui_quant, 'amount': a}

In [16]:
sale = json.dumps(sales)
fd = open("sales.json",'w')
fd.write(sale)
fd.close()

## ***To view sales record***

In [19]:
fd = open("sales.json",'r')
s = fd.read()
fd.close()

sales = json.loads(s) 
sales

{'1': {'Phoneno': 8800861234,
  'Time': 'Mon Sep  6 05:34:04 2021',
  'User_name': 'ujjawal',
  'amount': 97.02,
  'prod': '1030',
  'qn': 1},
 '2': {'Phoneno': 9818251234,
  'Time': 'Mon Sep  6 05:35:28 2021',
  'User_name': 'vinay',
  'amount': 8189.09,
  'prod': '1031',
  'qn': 1}}